# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.txlcn
api_lottery/target/
api_mall/target/
api_mini/target/
api_pay/target/
api_proxy/target/
api_user/target/
cloud_eureka/target/
cloud_gateway/target/
comment_api/target/
comment_feign/target/
comment_mq/target/
comment_seata/target/
comment_serialize/target/
comment_utils/target/
comment_web/target/
cron_service/target/
wind_control/target/
