# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template


# IntelliJ project files
.idea
*.iml
out
gen
.txlcn
.rebel.xml.bak
.rebel-remote.xml.bak
*/target/
rebel.xml

api_proxy
# 证书文件
*.p12
# 配置文件
application-dev.yml
application-prod.yml
application-api-dev.yml
application-api-prod.yml
application-assembly-dev.yml
application-assembly-prod.yml
application-cloud-prod.yml
application-seata-dev.yml
application-seata-prod.yml